@page "/"
@rendermode InteractiveServer

<PageTitle>AI Product Search</PageTitle>

<MudText Typo="Typo.h3" Align="Align.Center" Style="margin:50px">AI Product Search</MudText>

<MudGrid Class="d-flex justify-center align-center">
    <MudItem>
        <MudTextField @bind-Value="SearchText" Label="Which products are you looking for?" Variant="Variant.Outlined" style="width:500px;margin-right:30px" />
    </MudItem>
    <MudItem>
        <MudButton @onclick="Search" Size="Size.Large" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Search" Color="Color.Primary">Search</MudButton>
    </MudItem>
</MudGrid>

<MudGrid Class="d-flex justify-center align-center" Style="margin-top:5px;margin-bottom:50px">
    <MudItem>
        <MudButton @onclick="AnalyzeProducts" Size="Size.Large" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Analytics" Color="Color.Default">Analyze products</MudButton>
    </MudItem>
</MudGrid>

@if (IsOutputVisible)
{
    <div style="display:flex;flex-direction:row;justify-content:center;margin-top:50px">
        @if (!string.IsNullOrEmpty(Result))
        {
            <MudText Typo="Typo.body1" style="max-width:700px">@Result</MudText>
        }
        else
        {
            <MudText Typo="Typo.body1" style="max-width:700px">Thinking</MudText>
        }
    </div>
}